<div class="container-fluid">
  <form ngForm #MForm="ngForm" name="form" (ngSubmit)="MForm.form.valid && onSubmit(MForm)" novalidate>
      <div class="row">
        <!-- Doc No -->
        <div class="col-md-2">
          <div class="label-wrapper">
            <label for="document_number" class="form-label">Doc No</label>
          </div>
          <input type="text" class="label-input" id="document_number" [disabled]="true"
            name="document_number" [(ngModel)]="maintenanceIssueModel.document_number" #document_number="ngModel">
        </div>
        <!-- Entry Date -->
        <div class="col-md-2">
            <div class="label-wrapper">
            <label for="voucher_date" class="form-label">
                Entry Date
            </label>
            </div>
            <div class="input-wrapper">
            <div class="datepicker-wrapper">
                <input type="text" class="form-control" bsDatepicker #dp="bsDatepicker" placeholder="dd/MM/yyyy" [disabled]="itemDisable"
                [bsConfig]="{
                    dateInputFormat: 'DD/MM/YYYY',
                    showWeekNumbers: false
                }"
                (bsValueChange)="onDateSelected($event)" [ngModel]="maintenanceIssueModel.voucherDate" (ngModelChange)="formatToDateInput($event)" [ngModelOptions]="{ standalone: true }"
                />
                <button type="button" class="btn btn-outline-secondary" (click)="dp.show()" [disabled]="itemDisable">
                📅
                </button>
                </div> 
            </div>
        </div>
        <!-- From Warehouse -->
          <div class="col-md-2">
              <div class="label-wrapper d-flex align-items-center">
                  <label for="productClass" class="form-label  mb-0">From Warehouse</label>
              </div>
              <select class="label-input" id="from_godown_code"
              name="from_godown_code" [(ngModel)]="maintenanceIssueModel.from_godown_code" #from_godown_code="ngModel" [disabled]="true" >
                  <option [value]="'B1BEB649-B992-4F26-A859-22CE96DEC7EE'">{{ 'SHUWAIKH SPARE PARTS' }}</option>
              </select>
          </div>

        <!-- To Warehouse-->
        <div class="col-md-2">
          <div class="label-wrapper d-flex align-items-center">
              <label for="market_channel_name" class="form-label mb-0">To Warehouse
                <span class="required-star">*</span>
              </label>
          </div>
          <div class="input-wrapper">
              <ng-select  [items]="warehouseList" bindLabel="godown_name" bindValue="godown_code" [(ngModel)]="maintenanceIssueModel.godown_code" class="select-input"
                [disabled]="itemDisable" dropdownPanelClass="'black-dropdown'" [ngModelOptions]="{ standalone: true }" [ngClass]="{'is-invalid': isGodownInvalid}" > 
              </ng-select>
          </div>
        </div>
        <!-- Tag No -->
        <div class="col-md-2">
          <div class="label-wrapper d-flex align-items-center">
              <label for="market_channel_name" class="form-label mb-0">Tag No
              </label>
          </div>
          <div class="input-wrapper">
              <ng-select  [items]="TagList" bindLabel="tag_no" bindValue="tag_id" [(ngModel)]="maintenanceIssueModel.tag_id" class="select-input"
                [disabled]="true" dropdownPanelClass="'black-dropdown'" [ngModelOptions]="{ standalone: true }"  > 
              </ng-select>
          </div>
        </div>
        <!-- Model Name -->
        <div class="col-md-2">
          <div class="label-wrapper d-flex align-items-center">
              <label for="market_channel_name" class="form-label mb-0">Model Name
              </label>
          </div>
          <div class="input-wrapper">
              <ng-select  [items]="TagList" bindLabel="model_name" bindValue="tag_id" [(ngModel)]="maintenanceIssueModel.tag_id" class="select-input"
                [disabled]="true" dropdownPanelClass="'black-dropdown'" [ngModelOptions]="{ standalone: true }"  > 
              </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Item Code -->
        <div class="col-md-2">
          <div class="label-wrapper">
            <label for="item_code" class="form-label">Item Code</label>
          </div>
          <input type="text" class="label-input" id="item_code" [disabled]="true"
            name="item_code" [(ngModel)]="maintenanceIssueModel.item_code" #item_code="ngModel">
        </div>
        <!-- Cost -->
        <div class="col-md-2">
          <div class="label-wrapper">
            <label for="line_amount" class="form-label">Cost</label>
          </div>
          <input type="text" class="label-input" id="line_amount" [disabled]="true"
            name="line_amount" [(ngModel)]="maintenanceIssueModel.line_amount" #line_amount="ngModel">
        </div>
         <!-- Request No -->
        <div class="col-md-2">
          <div class="label-wrapper">
            <label for="request_no" class="form-label">Request No
              <span class="required-star">*</span>
            </label>
          </div>
          <ng-select  [items]="RequestNoList" bindLabel="document_number" bindValue="voucher_id" [(ngModel)]="maintenanceIssueModel.request_id" class="select-input"
            [disabled]="itemDisable" dropdownPanelClass="'black-dropdown'" [ngModelOptions]="{ standalone: true }"  [ngClass]="{'is-invalid': isReqNoInvalid}"
            (change)="ReqNochanges(maintenanceIssueModel.request_id)"> 
          </ng-select>
        </div>
      </div>
      <br>

      <ngx-datatable
        class="table table-bordered styled-grid"
        [rows]="rows"
        [scrollbarV]="scroll"
        [virtualization]="true"
        [style.height.px]="gridHeight"
        [columnMode]="'force'"
        [headerHeight]="80"
        [footerHeight]="60"
        [rowHeight]="30"
        [limit]="controls.pageSize"
        [externalPaging]="false"
        [selected]="selected"
        [messages]="{ emptyMessage: 'No data to display' }"
        [reorderable]="reorderable"
        [selectionType]="SelectionType.single"
        [rowIdentity]="getRowIdentity"
        (activate)="onSubListActivate($event)">
    
        <!-- Sl No -->
            <ngx-datatable-column name="Sl No"  prop="seqno" [maxWidth]="80">
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <input 
                type="text" 
                    class="form-control" 
                    value ="{{ rowIndex + 1 }}" disabled 
                    />
                </ng-template>
            </ngx-datatable-column>
    
        <!-- Item Code -->
        <ngx-datatable-column name="Item Code" prop="item_no" >
            <ng-template let-row="row" ngx-datatable-cell-template>
            <ng-select
                [items]="ItemList"
                bindLabel="item_code"
                bindValue="item_no"
                [(ngModel)]="row.item_no"
                (change)="ItemCodeEnter(row.item_no, row)"
                [disabled]="itemDisable"
                class="form-control grid-select"
                [ngModelOptions]="{ standalone: true }"
                [appendTo]="'body'">
            </ng-select>
            </ng-template>
        </ngx-datatable-column>
    
        <!-- Model Name -->
        <ngx-datatable-column name="Model Name" prop="item_name"  [minWidth]="550">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <input
                list="ItemList"
                type="text"
                class="form-control"
                [(ngModel)]="row.item_name"
                [ngModelOptions]="{standalone: true}"
                (change)="ModelNameChange(row)"
                [disabled]="itemDisable" />
    
                <datalist id="ItemList">
                <option *ngFor="let item of ItemList" [value]="item.item_code + ' - ' + item.item_name">
                </option>
                </datalist>
            </ng-template>
        </ngx-datatable-column>
    
        <!-- Qty -->
        <ngx-datatable-column name="Qty" prop="issue_quantity" >
            <ng-template let-row="row" ngx-datatable-cell-template>
            <input
                type="number"
                class="form-control grid-input"
                [(ngModel)]="row.issue_quantity"
                [disabled]="itemDisable" (input)="QtyChange(row)"
                [ngModelOptions]="{ standalone: true }" 
                />
            </ng-template>
        </ngx-datatable-column>

        <!-- Rate -->
        <ngx-datatable-column name="Rate" prop="enter_rate" >
            <ng-template let-row="row" ngx-datatable-cell-template>
            <input
                type="number"
                class="form-control grid-input"
                [(ngModel)]="row.enter_rate"
                [disabled]="itemDisable" (input)="QtyChange(row)"
                [ngModelOptions]="{ standalone: true }" />
            </ng-template>
        </ngx-datatable-column>

        <!-- Rate -->
        <ngx-datatable-column name="Cost Rate" prop="cost_rate" *ngIf="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
            <input
                type="number"
                class="form-control grid-input"
                [(ngModel)]="row.cost_rate"
                [disabled]="itemDisable" (input)="QtyChange(row)"
                [ngModelOptions]="{ standalone: true }" />
            </ng-template>
        </ngx-datatable-column>

        <!-- Total -->
        <ngx-datatable-column name="Total" prop="pamount" >
            <ng-template let-row="row" ngx-datatable-cell-template>
            <input
                type="number"
                class="form-control grid-input"
                [(ngModel)]="row.pamount"
                [disabled]="itemDisable" (input)="TotalChange(row)"
                [ngModelOptions]="{ standalone: true }" />
            </ng-template>
        </ngx-datatable-column>
    
        <!-- Delete -->
        <ngx-datatable-column name="Delete" [width]="25">
            <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <button
                type="button"
                class="btn btn-danger btn-sm delete-btn"
                (click)="deleteRow(rowIndex)"
                [disabled]="itemDisable">
                🗑️
            </button>
            </ng-template>
        </ngx-datatable-column>
    
        <!-- Footer -->
        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template>
            <div class="col-md-12 d-flex justify-content-end align-items-center gap-2 datatable-footer-border">
                <span>Total Rows: {{ rows.length }}</span>
                <div class="btn-group">
                <button type="button" class="btn btn-add" (click)="addRow()" [disabled]="itemDisable">➕ Add</button>
                </div>
            </div>
            </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>

      <br>
    <div class="row">
      <!--Status-->
      <div class="col-md-2">
          <div class="label-wrapper d-flex align-items-center">
          <label for="approval_status" class="form-label  mb-0">Status
          </label>
          </div>
          <div class="input-wrapper">
              <input type="text" class="label-input" id="approval_status" [disabled]="statusDisable" name="approval_status"  name="approval_status" 
              [(ngModel)]="maintenanceIssueModel.approval_status" #approval_status="ngModel">
          </div>
      </div>
      <!-- Total Qty -->
      <div class="col-md-2  ms-auto">
        <div class="label-wrapper">
          <label for="totalQty" class="form-label">Total Qty
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="label-input" id="totalQty" [disabled]="true"  
              name="totalQty" [(ngModel)]="totalQty" #totalQtys="ngModel">
        </div>
      </div>
      <!-- Total Amount -->
      <div class="col-md-2">
        <div class="label-wrapper">
          <label for="totalQty" class="form-label">Total Amount
          </label>
        </div>
         <div class="input-wrapper">
              <input type="number" class="label-input" id="cst" [disabled]="true" name="cst"  name="cst" 
              [(ngModel)]="maintenanceIssueModel.cst" #cst="ngModel">
          </div>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- Created By-->
      <div class="col-md-2">
        <div class="label-wrapper">
          <label for="created_by" class="form-label">Created By
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="label-input" id="created_by" [disabled]="true"  
              name="created_by" [(ngModel)]="maintenanceIssueModel.created_by" #created_by="ngModel">
        </div>
      </div>
      <!-- Created On-->
      <div class="col-md-1">
        <div class="label-wrapper">
          <label for="created_date" class="form-label">Created On
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="label-input" id="created_date" [disabled]="true"  
              name="created_date" [(ngModel)]="maintenanceIssueModel.created_date" #created_date="ngModel">
        </div>
      </div>
      <!-- Updated By -->
      <div class="col-md-2">
        <div class="label-wrapper">
          <label for="modified_by" class="form-label">Modified By
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="label-input" id="modified_by" [disabled]="true"  
              name="modified_by" [(ngModel)]="maintenanceIssueModel.modified_by" #modified_by="ngModel">
        </div>
      </div>
      <!-- Updated On -->
      <div class="col-md-1">
        <div class="label-wrapper">
          <label for="modified_date" class="form-label">Modified On
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="label-input" id="modified_date" [disabled]="true"  
              name="modified_date" [(ngModel)]="maintenanceIssueModel.modified_date" #modified_date="ngModel">
        </div>
      </div>

      <div class="col-md-2">
        <div class="label-wrapper">
          <label for="approved_by" class="form-label">Approved By
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="label-input" id="approved_by" [disabled]="true"  
              name="approved_by" [(ngModel)]="maintenanceIssueModel.approved_by" #approved_by="ngModel">
        </div>
      </div>
      <!-- Remarks -->
      <div class="col-md-4">
        <div class="label-wrapper">
          <label for="approver_remarks" class="form-label">Approval Remarks
          </label>
        </div>
        <div class="input-wrapper">
            <textarea class="label-input" id="approver_remarks" name="approver_remarks" rows="2"
              [(ngModel)]="maintenanceIssueModel.approver_remarks" #approver_remarks="ngModel" [disabled]="true" >
            </textarea>
        </div>
      </div>
    </div>
    <br>
    <!-- Footer Buttons -->
    <div class="inbox-compose-footer" style="overflow: hidden;">
      <div class="btn-group pull-right">
        <div class="badge bg-color-greenLight action mine"></div>
        <button type="button" class="btn btn-primary" style="margin-right: 5px" [disabled]="saveDisable" (click)="onSubmitForm()">
          <i class="fa fa-save"></i>Save
        </button>
        <button type="button" class="btn btn-danger" [disabled]="cancelDisable" (click)="cancelClickMethod()">
          <i class="fa fa-ban"></i>Cancel
        </button>
      </div>
    </div> 
  </form>
</div>

