<div class="sidebar">
  <div class="logo-container">
    <img [src]="urlConfig.Local.Logo_Url" alt="Logo" class="logo" />
  </div>
  <ul class="nav-list">

    <!-- Masters -->
    <ng-container *ngIf="activeHeader !== 'dashboard' && sidebarConfig[activeHeader]?.masters?.length">
      <li class="main-button">Masters</li>
      <div class="sub-list">
        <a *ngFor="let item of sidebarConfig[activeHeader]?.masters"
           [routerLink]="item.path"
           routerLinkActive="active">
          {{ item.label }}
        </a>
      </div>
    </ng-container>

    <!-- Transactions -->
    <ng-container *ngIf="activeHeader !== 'dashboard' && sidebarConfig[activeHeader]?.transactions?.length">
      <li class="main-button">Transactions</li>
      <div class="sub-list">
        <a *ngFor="let item of sidebarConfig[activeHeader]?.transactions"
           [routerLink]="item.path"
           routerLinkActive="active">
          {{ item.label }}
        </a>
      </div>
    </ng-container>

    <!-- Reports -->
    <ng-container *ngIf="activeHeader !== 'dashboard' && sidebarConfig[activeHeader]?.reports?.length">
      <li class="main-button">Reports</li>
      <div class="sub-list">
        <a *ngFor="let item of sidebarConfig[activeHeader]?.reports"
           [routerLink]="item.path"
           routerLinkActive="active">
          {{ item.label }}
        </a>
      </div>
    </ng-container>

  </ul>
</div>
