<div class="bg-body-secondary text-center py-5 rounded-2"> 
  <h2 class="display-6 fw-bold">Stock Correction</h2> 
  <div class="container-fluid" >
    <fieldset class="fieldset-custom">
      <div class="row g-3">
        <!-- Button Group -->
        <div class="col-md-12 col-12">
          <div class="btn-toolbar flex-wrap gap-1 justify-content-start" style="margin-top:2px">
            <select class="label-control" id="year" [disabled]="yearDisable"
              name="year" [(ngModel)]="year" #yearid="ngModel" (change)="yearChange(year)">
              <option *ngFor="let main of years" [value]="main.period_id">{{ main.period_name }}</option>
            </select>
            <button type="button" class="btn btn-primary" (click)="buttonClick('N')" [disabled]="newDisable" >
              <i class="fa fa-plus me-1"></i> New
            </button>
            <button type="button" class="btn btn-info" (click)="buttonClick('M')" [disabled]="modifyDisable" >
              <i class="fa fa-edit me-1"></i> Modify
            </button>
            <button type="button" class="btn btn-danger" (click)="buttonClick('D')" [disabled]="deleteDisable" >
              <i class="fa fa-trash me-1"></i> Delete
            </button>
            <button type="button" class="btn btn-secondary" [disabled]="searchDisable" (click)="Search()">
              <i class="fa fa-search me-1"></i> Search
            </button>   
            <button type="button" class="btn btn-secondary" (click)="Refresh()" [disabled]="refreshDisable">
              <i class="fa fa-refresh me-1"></i>
            </button>
            <button type="button" class="btn btn-lg d-flex ms-auto shadow-sm" [disabled]="yearDisable" (click)="toggleValue()"> 
              <i [ngClass]="gridDisabled ? 'fa fa-eye-slash me-1' : 'fa fa-eye me-1'"></i>
            </button>
          </div>
        </div>
      </div> 
    </fieldset>
  </div>
  <!-- List Section -->
    <stock-correction-list></stock-correction-list>
  <!-- List Section -->
    <fieldset class="border mb-4">
      <stock-correction-details></stock-correction-details>
    </fieldset>
</div>

<div *ngIf="showModalSearch" class="modal fade show d-block" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-lg" style="max-width: 500px;">
    <div class="modal-content shadow-lg rounded">
      <div class="modal-header bg-light border-bottom">
        <h5 class="modal-title text-primary">🔍 Search Here...</h5>
        <button type="button" class="btn btn-light rounded-circle shadow-sm position-absolute top-0 end-0 m-3"
                (click)="modalCancel()" aria-label="Close" title="Close">
          <i class="fas fa-times text-danger"></i>
        </button>
      </div>
      <div class="modal-body px-4 py-3">
        <div class="row g-3">
          <div class="col-md-6">
            <label for="document_number" class="form-label fw-semibold">Doc No</label>
            <input type="number" class="form-control form-control-sm" id="document_number"
                  name="document_number" [(ngModel)]="stockCorrectionSearch.document_number" #document_number="ngModel"
                  placeholder="Enter Doc No">
          </div>

          <div class="col-md-6">
            <label for="approval_status" class="form-label fw-semibold">Status</label>
            <input type="text" class="form-control form-control-sm" id="approval_status"
                  name="approval_status" [(ngModel)]="stockCorrectionSearch.approval_status" #approval_status="ngModel"
                  placeholder="Enter Status">
          </div>
      </div>
      <div class="modal-footer bg-light border-top">
        <button class="btn btn-outline-secondary" (click)="modalCancel()">Cancel</button>
        <button class="btn btn-primary" (click)="modalSearch()">Search</button>
      </div>
    </div>
  </div>
</div>
